<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view
  view-title="<h2 class='title'><i class='icon balanced ion-chatbubble user-messages-top-icon'></i> {{chatId}}</h2>">
  <ion-nav-buttons side="left">
    <div class="button button-clear" ng-click="goChatsList()">
      <i class="ion-ios-close-empty assertive icon button-large"></i>
    </div>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-refresher pulling-text="{{spiner.message}}" on-refresh="loadMoreChats()" spinner="lines" pulling-icon="ion-android-hand" style="text-align: center; color: #D8D8D8; font-size: 0.8rem"></ion-refresher>
    <ion-list>

      <ion-item ng-repeat="message in messages | orderBy: 'id'" class="message-wrapper">
        <div ng-if="message.fsr == currentUser">

          <img class="profile-pic right" ng-src="{{userAvatar}}"/>

          <div ng-if="type == 2" class="chat-bubble right" ng-click="openModal(message)">
            <div class="message" ng-bind-html="message.neirong"></div>
            <br>
            <div class="message-detail">
              <span class="bold nickname">{{message.fsr}}</span>
              <span class="time-ago">{{message.shijian}}</span>
            </div>
            <div class="row">
              <div ng-switch="message.zhuangtai">
                <i ng-switch-when="1" class="icon ion-help royal"></i>
                <i ng-switch-when="2" class="icon ion-checkmark-round positive"></i>
                <i ng-switch-when="3" class="icon ion-close-round assertive"></i>

              </div>
            </div>
          </div>

          <div ng-if="type != 2" class="chat-bubble right">
            <div class="message" ng-bind-html="message.neirong"></div>
            <div class="message-detail">
              <span class="bold nickname">{{message.fsr}}</span>
              <span class="time-ago">{{message.shijian}}</span>
            </div>
          </div>

        </div>

        <div ng-if="message.fsr != currentUser">

          <img class="profile-pic left" ng-src="{{face}}"/>

          <div ng-if="type == 2" class="chat-bubble left" ng-click="openModal(message)">
            <div class="message" ng-bind-html="message.neirong"></div>
            <br>

            <div class="message-detail">
              <span class="bold nickname">{{message.fsr}}</span>
              <span class="time-ago">{{message.shijian}}</span>
            </div>
            <div class="row">
              <div ng-switch="message.zhuangtai">
                <i ng-switch-when="1" class="icon ion-help royal"></i>
                <i ng-switch-when="2" class="icon ion-checkmark-round positive"></i>
                <i ng-switch-when="3" class="icon ion-close-round assertive"></i>

              </div>
            </div>
          </div>

          <div ng-if="type != 2" class="chat-bubble left">
            <div class="message" ng-bind-html="message.neirong"></div>
            <div class="message-detail">
              <span class="bold nickname">{{message.fsr}}</span>
              <span class="time-ago">{{message.shijian}}</span>
            </div>
          </div>

        </div>

      </ion-item>

      <div class="text-center" ng-show="showProcessing">
        <ion-spinner icon="lines" class="spinner-balanced"></ion-spinner>
      </div>
    </ion-list>

    <div class="list" ng-if="!messages || messages.length == 0" style="vertical-align: middle !important;">
      <br><br><br><br><br><br>

      <div class="row">
        <div class="col col-25"></div>
        <div class="col col-50">

        </div>
        <div class="col col-25"></div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col col-25"></div>
        <div class="col col-50" style="text-align: center; color: #D8D8D8; font-size: 1rem">
          暂无消息
        </div>
        <div class="col col-25"></div>
      </div>
    </div>


  </ion-content>
  <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
    <ion-footer-bar style="height: auto" class="bar-stable item-input-inset message-footer" keyboard-attach>
      <label class="item-input-wrapper" style="height: 100%;">
        <textarea id="messageTextArea" style="width: 100% !important;" ng-model="input.message" value="" placeholder=""
                  required minlength="1" maxlength="1500" msd-elastic="\n"></textarea>
      </label>

      <div class="footer-btn-wrap">
        <button class="button button-balanced footer-btn send-button" type="submit"
                ng-disabled="!input.message || input.message === ''">
          发送
        </button>
      </div>
    </ion-footer-bar>
  </form>
</ion-view>
