<ion-view view-title="外勤" hide-nav-bar="true" cache-view="true">
  <ion-nav-bar class="bar-stable" align-title="center">
  </ion-nav-bar>
    <ion-content>

      <div id="allmap" style="width: 100%;height: {{mapSize.height}}px; overflow: hidden;margin:0;"></div>
      <div class="pending">
        <ion-list style="margin-top: 5px;">
          <p style="margin-top: 1em !important;"></p>
          <ion-item collection-repeat="type in workItems"
                    collection-item-height="itemHeight"
                    collection-item-width="'33%'"
                    ng-click="userClickSingleButton(type)" style=" font-size: 1em; text-align: center;">

            <p class="text-center">
              <i class="{{type.icon}} {{type.customColor}}" style="font-size: 2em;"></i>

            <div class="row" style="margin-left: 1em; ">
              {{type.name}}
            </div>
            </p>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
</ion-view>
