<ion-view title="商城">

    <ion-nav-title>
        <div class="item item-input-inset tadpole-searchbar-background">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="商品名称" ng-model="contact.searchingKeyword" ng-click="openSearchHistoryModal()">
            </label>
        </div>
    </ion-nav-title>

    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left" class="button button-clear">

        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>

        <div class="row" style="padding: 0px !important;">
            <div class="col" style="background-color: rgba(239, 239, 239, 0.4) !important; max-width: 25%">

                <ion-scroll zooming="false" direction="y" style="width: {{screenWidth}}px; height: {{screenHeight}}px; ">
                    <ion-list>

                        <ion-item ng-repeat="category in categories" ng-click="clickFirstLevelCategory(category, $index)" ng-class="{'selected-category' : category.active }">
                            {{category.name}}
                        </ion-item>
                    </ion-list>
                </ion-scroll>
            </div>
            <div class="col">

              <div class="row row-wrap">
                    <div class="col col-33" ng-repeat="detailCategory in detailCategories">

                            <div class="text-center no-border" ng-click="goProductListPage(detailCategory)">
                                <img ng-src="{{ detailCategory.image }}" style="width : 62px; height: 62px; border: 0;"/>

                                <p style="font-size: smaller">{{ detailCategory.name }}</p>
                            </div>
                        </div>

                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
