<ion-view title="商城">

    <ion-nav-title>
        <div class="item item-input-inset tadpole-searchbar-background">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="商品名称" ng-model="contact.searchingKeyword" ng-click="goSeachIndexPage()">
            </label>
        </div>
    </ion-nav-title>

    <ion-nav-bar class="bar-assertive">
        <ion-nav-buttons side="left" class="button button-clear">

        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>

        <div class="row" style="padding: 0px !important;">
            <div class="col" style="background-color: rgba(200, 200, 200, 0.4) !important; max-width: 27%">
                <ion-scroll zooming="false" direction="y" style="width: {{screenWidth}}px; height: {{screenHeight}}px; ">
                    <ion-list>

                        <ion-item ng-repeat="category in categories" ng-click="clickFirstLevelCategory(category, $index)" ng-class="{'selected-category' : category.active }">
                            {{category.name}}
                        </ion-item>
                    </ion-list>
                </ion-scroll>
            </div>
            <div class="col">

                <h1>{{selectedCategory.name}}</h1>

                <div class="row row-wrap">
                    <div class="col col-50" ng-repeat="product in highlightProducts">
                        <div class="card card-facebook margin-0">
                            <div class="item item-avatar-center">
                                <img ng-src="{{ product.pic }}"/>

                                <h2>{{ product.productName }}</h2>

                                <p>{{ product.c }}</p>
                            </div>
                            <div class="item item-divider">
                                {{ item.people }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
