<ion-modal-view>

    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
            <button class="button button-clear" ng-click="closeSelectAddressDialog()"><i class="icon ion-ios-arrow-left"></i></button>
        </div>
        <h1 class="title">收货地址</h1>

    </ion-header-bar>

    <ion-content>

        <ion-list>
            <ion-item class="item-icon-right address" style="margin-top: 10px; background-color: #fffaf3"  ng-repeat="address in userAddresses" ng-click="selectAddressForShipping(address)">

                <div class="row">
                    <b><i class="ion ion-ios-book-outline assertive"></i> 默认地址</b>
                </div>

                <p style="margin-right : 3em; font-size: .8em">{{address}}</p>

                <i class="icon ion-chevron-right icon-accessory"></i>

                <b class="top-border"></b>
                <b class="bottom-border"></b>

            </ion-item>

        </ion-list>

        <div class="list" ng-if="!userAddresses || userAddresses.length == 0" style="vertical-align: middle !important;">
            <br><br><br><br><br><br>
            <div class="row">
                <div class="col col-25"></div>
                <div class="col col-50">

                </div>
                <div class="col col-25"></div>
            </div>
            <div class="row" style="margin-top: 1rem;">
                <div class="col col-25"></div>
                <div class="col col-50" style="text-align: center; color: #D8D8D8; font-size: 1rem">
                    没有数据
                </div>
                <div class="col col-25"></div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
