<ion-view title="填写订单">

    <ion-nav-bar class="button-bar-stable">
        <ion-nav-buttons side="left" class="button button-clear">
            <button class="button button-small button-clear" ng-click="GoBack()"><i class="icon ion-ios-arrow-left"></i> </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>

        <ion-list class="wrapping-list">
            <ion-item class="item-icon-right royal-900-border step1" style="margin-top: 10px; background-color: #fffaf3">

                <div class="row">
                    <h3 class="col-50"><i class="ion ion-ios-person-outline assertive"></i> 江李明</h3> <p class="col-50 assertive"> <i class="ion ion-android-phone-portrait"></i>13762234432</p>
                </div>

                <p style="margin-right : 3em; font-size: .8em">上海浦东新区城区丰和路1号港务大厦23楼沃纳信息部</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <b class="s1-borderT"></b>
                <b class="s1-borderB"></b>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
