<ion-view title="支付结果">

    <ion-nav-bar class="button-bar-assertive">
        <ion-nav-buttons side="left" class="button button-clear">
            <button class="button button-small button-clear" ng-click="goHome()"><i class="icon ion-ios-home-outline"></i> </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>

        <div class="list" style="vertical-align: middle !important;">

            <br><br><br><br><br><br>

            <div class="row row-center" style="margin-top: 1rem; color: #D8D8D8; font-size: 2rem; ">
                <div class="col text-center">
                    <ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
                </div>
            </div>

            <div class="row row-center" style="margin-top: 2rem; font-size: 1rem; ">
                <div class="col text-center assertive">
                    支付成功！
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
