<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-stable" ng-show="currentMessage.zhuangtai == 1">
        <div class="buttons">
            <button class="button button-clear" ng-click="approve(0)"><i class="ion-close-round assertive"></i></button>
        </div>
        <h1 class="title"></h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="approve(1)"><i class="ion-checkmark-round balanced"></i>
            </button>
        </div>
    </ion-header-bar>

    <ion-content delegate-handle="messageDetailContent">
        <div class="card" ng-show="currentMessage.zhuangtai == 1">
            <div class="item text-center">
                <b>审批意见</b>
            </div>
            <div class="item-body">
                <input type="text" placeholder="请输入审批内容" name="inputValue" ng-model="comment.content">
            </div>

        </div>

        <div class="card">
            <div class="item-body">
                <ion-list>
                    <div ng-repeat="zhubiaoitem in singleMessageDetail.zhubiao">
                        <ion-item ng-repeat="(key, value) in zhubiaoitem">
                            {{key}}
            <span class="item-note">
              {{value}}
            </span>
                        </ion-item>
                        <hr>
                    </div>
                </ion-list>
            </div>

            <div class="item text-center">
                <b>详情列表</b>
            </div>

            <div class="item-body">
                <ion-list>
                    <div ng-repeat="zhubiaoitem in singleMessageDetail.zibiao">
                        <hr>
                        <ion-item ng-repeat="(key, value) in zhubiaoitem">
                            {{key}}
            <span class="item-note">
              {{value}}
            </span>
                        </ion-item>

                    </div>
                </ion-list>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="closeMessageDetailDialog()">
                关闭
            </button>
        </div>
    </ion-content>
</ion-modal-view>
