<ion-view title="商品详情">
    <ion-nav-bar class="button-bar-stable">
        <ion-nav-buttons side="left" class="button button-clear">
            <button class="button button-small button-clear" ng-click="GoBack()"><i class="icon ion-ios-arrow-left"></i> </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" class="button button-clear">
            <ion-spinner ng-show="addingToCart" icon="ripple" class="spinner-balanced"></ion-spinner>
            <button ng-show="!addingToCart" class="button button-small button-clear" ng-click="gotoCatelogTab()"><i class="icon ion-ios-cart-outline"></i> </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-title>
        <div class="title title-center header-item">

            商品详情
                <!--
                <ti-segmented-control on-select="showProductDetailByTitle($index)">

                    <ti-segmented-control-button class="button-assertive" title="'商品'" selected></ti-segmented-control-button>
                    <ti-segmented-control-button class="button-assertive" title="'参数'"></ti-segmented-control-button>

                </ti-segmented-control> -->

        </div>
    </ion-nav-title>

    <ion-content>

            <ion-slide-box does-continue="true" auto-play="true" slide-interval="10000">
                <ion-slide ng-repeat="image in product.images">
                    <img class="slide-zoom" ng-src="{{image}}" style="height: auto; width: {{screenWidth}}px;">
                </ion-slide>

            </ion-slide-box>

            <div class="padding" style="border-bottom: 1px; border-color: #A00000">

                {{product.name}}

                <h3 class="assertive" style="padding-top: .3em">¥{{product.price}}</h3>

            </div>

            <div class="item-divider-ios product-detail-divider"></div>

            <div class="row">
                <div class="col col-33" style="display: flex; align-items: center;">
                    数量
                </div>
                <div class="col col-77">

                    <div class="row row-center">

                        <button class="button-clear button-small-shop">
                            <i class="icon ion-minus-round"></i>
                        </button>

                        <input ng-model="product.count" type="number" min="1" style="height: 24px; width: 2.5em; border: 2px solid #e1e1e1 !important;  text-align: center;"/>

                        <button class="button-clear button-small-shop">
                            <i class="icon ion-plus-round"></i>
                        </button>

                    </div>
                </div>

            </div>

        <div class="row">
            <div class="col col-20" style="display: flex; align-items: center;">
                <p>颜色</p>
            </div>
            <div class="col col-80">

                <div class="row row-wrap">
                    <div class="col col-50">
                        <ion-radio class="detail-item" name="color" ng-model="choice" ng-value="'A'">红色</ion-radio>
                    </div>
                    <div class="col col-50">
                        <ion-radio class="detail-item" name="color" ng-model="choice" ng-value="'B'">绿色</ion-radio>
                    </div>
                    <div class="col col-50">
                        <ion-radio class="detail-item" name="color" ng-model="choice" ng-value="'C'">灰色</ion-radio>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col col-25" style="display: flex; align-items: center;">
                <p>尺寸</p>
            </div>
            <div class="col col-75">

                <div class="row row-wrap">
                    <div class="col col-50">
                        <ion-radio class="detail-item" name="size" ng-model="choice1" ng-value="'M'">M</ion-radio>
                    </div>
                    <div class="col col-50">
                        <ion-radio class="detail-item" name="size" ng-model="choice1" ng-value="'L'">L</ion-radio>
                    </div>

                </div>
            </div>

        </div>

            <div class="item-divider-ios product-detail-divider">商品参数</div>

            <ion-list>
                <ion-item class="item-icon-right" style="height: 2em;">
                    进深参数长度
                    <span class="item-note">
                    1871 cm
                    </span>
                </ion-item>
                <ion-item class="item-icon-right">
                    宽度
                    <span class="item-note">
                    1287 cm
                    </span>
                </ion-item>
            </ion-list>

            <div class="item-divider-ios product-detail-divider">商品描述</div>

            <div class="padding">
                Nothing special in here. We got a small list of images, which will take images from a scope array and a click event which calls showImages with the index of the image in the array. You will see why we pass this parameter soon. Below the image scroll list we got a simple button which shall start our video. Obviously there could be your thumbnail images from your captured movies, but for the simplicity I will just open a local file.

                ADDING THE IMAGE POPOVER
                The HTML is fine, let’s go to your app.js and add the controller we assigned to our ion-content tag. Inside our controller we need the image array with the source to each image, and the showImages function, so add:
            </div>

            <div class="item-divider-ios product-detail-divider">图片展示</div>

            <div ng-repeat="image in product.detailImages">
                <img ng-src="{{image}}" style="height: auto; width: {{screenWidth}}px; margin-bottom: -5px !important;">
            </div>
            <div class="item-divider-ios" style="padding-top : 15px !important; border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1"></div>


        <div class="list" ng-if="loading" style="vertical-align: middle !important;">

            <br><br><br><br><br><br>

            <div class="row row-center" style="margin-top: 1rem; color: #D8D8D8; font-size: 1rem; ">
                <div class="col text-center">
                    <ion-spinner icon="lines" class="spinner-balanced"></ion-spinner>
                </div>

            </div>
            <br>

            <div class="row row-center" style="margin-top: 1rem; color: #D8D8D8; font-size: 1rem; ">
                <div class="col text-center">
                    商品信息正在加载...
                </div>
            </div>

        </div>

    </ion-content>

    <div class="bar bar-footer" style="opacity: 0.9">

        <div class="row">
            <div class="col-50">
                <button class="button button-balanced" style="width: 99%" ng-click="addToShopCart(product)"><b class="color-font-white">加入购物车</b></button>
            </div>
            <div class="col-50">
                <button class="button button-assertive" style="width: 99%; margin-left: 0.5em;" ng-click="buyNow()"><b class="color-font-white">立即购买</b></button>
            </div>
        </div>

    </div>
</ion-view>
